/* Підключення файлу обнулення стилів */
@import url('reset.css');
/* Підключення шрифту Montserrat Alternates з ресурсу Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@0;1&display=swap');
/* Підключення стороннього шрифту ChareInk */
@font-face{
	font-family: 'ChareInk';
	src: url('../fonts/ChareInk-Italic.woff2') format('woff2'), url('../fonts/ChareInk-Italic.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	}
@font-face{
	font-family: 'ChareInk';
	src: url('../fonts/ChareInk-Bold.woff2') format('woff2'), url('../fonts/ChareInk-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	}

body {
		max-width: 70%;
		margin: 0 auto;
		background-color: rgb(236, 208, 201);
	}
	.footer_content, 
	.title_h1, 
	.title_h2{
		text-align: center;
	}
	.title_h1{
		font-family: "ChareInk";
		font-size: 2em;
		font-style: italic;
		text-shadow: 2px 2px 5px;
		text-transform: uppercase;
		
	}
	.title_h2{
		font-family: "ChareInk";
		font-size: 1.5em;
	}
	.article_box > p,
	.lists,
		img{
		background-color: rgb(241, 221, 166);
		border-radius: 2em;
		padding: 1.25em;
		
		
	}
	.home{
		color: rgb(68, 14, 194);
		font-family: "Montserrat Alternates";
	}
	.important{
		text-decoration: underline;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	.footer_content,
	h1,
	h2,
	p,
	ul{
		font-family: "Montserrat Alternates";
		margin: 1em;
		color: rgb(107, 81, 8);
		line-height: 2;
	}
	p
	{
		text-indent: 20px;
	}


