body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgb(225, 229, 222);
	}

	.wrapper{
		min-height: 100%;
		position: relative;
	
		display: flex;
		flex-direction: column;
	}

	.wrapper > main{
		flex-grow: 1;
	}

	.section {
		max-width: 1300px;
		margin: 0 auto;
		padding: 0px 15px;
	}

	 .header {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		padding: 15px;
		background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(167, 171, 168) 35%, rgb(204, 218, 221) 100%);
	opacity: 0.8;
		z-index: 10;
	}

	h1{
		text-align: center;
		font-size: 32px;
		font-weight: 700;
		color: white;
		text-shadow: 2px 2px 3px;
		text-transform: uppercase;
	}
	
	p{
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.section__body {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		flex-grow: 1;
		gap: 10px;
		transform: translate(-25%,14%);
		width: 400px;
		height: 600px;		
	}

	.button{
		position: relative;
		background: gray;
		width: 150px;
		border: 1px solid;
		border-radius: 20px;
		padding: 5px;
		transition: all 0.3s ease 0s;
		box-shadow: 0 5px 0px #887d9e;
	}
	.button:active {
		background: rgb(253, 0, 0);
		box-shadow: 0 2px 0px #887d9e;
		top: 2px;
	}

	/* ==================DISPLAY: INLINE-FLEX================== */
	.section__display-inline-flex {
		background: rgb(184, 97, 97);
	}
	.section__display-inline-flex:active ~ .item {
		display: flex;
		width: auto;
	}
	
	/* ==================FLEX-DIRECTION================== */
	[class*="_flex-direction"] {
		background: rgb(173, 162, 162);
	}
	[class*="_flex-direction"]:active {
		background: gray;
	}

	.section__flex-direction-row:active ~ .item [class*="item__"] {
		background: red;
	}
	
	.section__flex-direction-row-reverse:active ~ .item  {
		flex-direction: row-reverse;
	}

	.section__flex-direction-column:active ~ .item  {
		flex-direction: column;
	}

	.section__flex-direction-column-reverse:active ~ .item  {
		flex-direction: column-reverse;
	}

	/* ==================JUSTIFY-CONTENT================== */
	[class*="_justify-content"] {
		background: rgb(204, 204, 107);
		}
	[class*="_justify-content"]:active {
		background: rgb(255, 255, 0);
		}

	.section__justify-content-flex-start:active ~ .item [class*="item__"] {
		background: red;
	}

	.section__justify-content-flex-end:active ~ .item  {
		justify-content: end;
	}

	.section__justify-content-flex-center:active ~ .item  {
		justify-content: center;
	}

	.section__justify-content-space-between:active ~ .item  {
		justify-content: space-between;
	}

	.section__justify-content-space-around:active ~ .item  {
		justify-content: space-around;
	}

	.section__justify-content-space-evenly:active ~ .item  {
		justify-content: space-evenly;
	}

	/* ==================FLEX-WRAP================== */
	[class*="_flex-wrap"] {
		background: rgb(79, 106, 79);
	}
	[class*="_flex-wrap"]:active {
		background: rgb(0, 182, 0);
	}

	.section__flex-wrap-nowrap:active ~ .item {
		width: 100px;
	}
	.section__flex-wrap-nowrap:active ~ .item [class*="item__"] {
		background-color: rgba(0, 128, 0, 0.371);		
	}

	.section__flex-wrap-wrap:active ~ .item {
		flex-wrap: wrap;
		width: 140px;
	}

	.section__flex-wrap-wrap-reverse:active ~ .item  {
		flex-wrap: wrap-reverse;
		width: 140px;
	}

	/* ==================ALIGN-ITEMS================== */
	[class*="_align-items"] {
		background: rgb(203, 148, 203);
	}
	[class*="_align-items"]:active {
		background: rgb(201, 44, 201);
	}

	.section__align-items-stretch:active ~ .item [class*="item__"] {
		background: red;
	}

	.section__align-items-flex-start:active ~ .item  {
		align-items: flex-start;
	}

	.section__align-items-flex-end:active ~ .item  {
		align-items: flex-end;
		
	}

	.section__align-items-center:active ~ .item  {
		align-items: center;
	}

	.section__align-items-baseline:active ~ .item  {
		align-items: baseline;
	}

		/* ==================ALIGN-SELF================== */
	[class*="_align-self"] {
		background: rgb(102, 82, 165);
	}
	[class*="_align-self"]:active {
		background: rgb(68, 44, 148);
	}

	.section__align-self-flex-start:active ~ .item .item__2 {
		align-self: flex-start;
	}
	.section__align-self-flex-end:active ~ .item .item__2 {
		align-self: flex-end;
	}
	.section__align-self-center:active ~ .item .item__2 {
		align-self: center;
	}
	.section__align-self-baseline:active ~ .item .item__2 {
		align-self: baseline;
	}
	.section__align-self-stretch:active ~ .item .item__2 {
		background: red;
	}
	
		/* ==================FLEX-GROW/FLEX-SHRINK/FLEX-BASIS================== */
	.section__flex-grow {
		background: rgb(214, 161, 70);
	}
	.section__flex-grow:active ~ .item [class*="item__"]{
		flex-grow: 1;
	}

	.section__flex-shrink{
		background: rgb(214, 161, 70);
	}
	.section__flex-shrink:active ~ .item [class*="item__"]{
		flex-shrink: 0;
		flex-basis: 33%;
		background-color: rgba(6, 122, 62, 0.473);
	}
	.section__flex-shrink:active ~ .item .item__2{
		flex-shrink: 1;
	}
	
/* ==================ORDER================== */
.section__order {
	background: rgb(214, 161, 70);
}	
.section__order:active ~ .item .item__3 {
order: -1;
}	
	
	.item{
	display: flex;
	position: absolute;
	left: 50%;
	top: 500px;
	padding: 0.5px;
	transform: translate(400px,-400px);
	background: lightgreen;
	border: 3px solid gray;
	border-radius: 10px;
	width: 400px;
	height: 400px;
	}
		
	[class*="item__"]{
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 700;
	background-color: rgb(6, 122, 62);
	padding: 8px;
	text-align: center;
	border: 3px solid #000000;
	border-radius: 7px;
	}

	.item__1,
	.item__3{
		padding-top: 5px;
	}
	.item__2,
	.item__4{
		padding-top: -5px;
	}
	
	/* ==================PART 2================== */
	.example{
		margin: 0 auto;
		position: relative;
		top: 300px;
		max-width: 50%;
		padding-bottom: 50px;
	}
	.example__body {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin: 0 -15px;
		border-radius: 10px;
	}
	.example__column {
		flex: 0 1 32%;
		padding: 0px 15px;
	}
	.example__cards {
		background-color: rgb(139, 132, 132);
		padding: 15px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
		border: 2px solid;
		border-radius: 20px;
		min-height: 100%;
	}
	.cards-example {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}
	
	.cards-example__image img {
		max-width: 100%;
	}
	.cards-example__text {
		color: #fff;
		flex: 1 1 auto;
	}
	.cards-example__button {
		background-color: yellow;
		padding: 10px 15px;
		border-radius: 5px;
		border: 1px solid;
	}